body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background: url("images/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.profile-container{
    color: white;
    padding: 20px;
    width: 400px;
    border-radius: 20px;

    margin: 20px;
}
.quote-container {
    color: white;
    padding: 20px;
    width: 400px;
    border-radius: 20px;
    margin: 300px auto;
}

.profile-container {
    margin-top: 10px;

    display: flex;
    align-items: center;
    gap: 20px; 
}

.profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
}

.profile-text h2,
.profile-text h3 {
    margin: 0;
}

/* Quote text */
.quote {
    font-style: italic;
    margin-top: 20px;
}

.author {
    margin-top: 5px;
    font-weight: bold;
}
